[submodule ".integrations/aisp-open-core"]
	path = .integrations/aisp-open-core
	url = https://github.com/bar181/aisp-open-core.git
[submodule "external/VisionFlow"]
	path = external/VisionFlow
	url = https://github.com/rooz-live/VisionFlow.git
