[submodule ".integrations/aisp-open-core"]
	path = .integrations/aisp-open-core
	url = https://github.com/bar181/aisp-open-core.git
[submodule "external/VisionFlow"]
	path = external/VisionFlow
	url = https://github.com/rooz-live/VisionFlow.git
[submodule "external/agentic-drift"]
	path = external/agentic-drift
	url = https://github.com/jjohare/driftwise.git
[submodule "external/lionagi-qe-fleet"]
	path = external/lionagi-qe-fleet
	url = https://github.com/rooz-live/lionagi-qe-fleet.git
[submodule "external/ruvector"]
	path = external/ruvector
	url = https://github.com/rooz-live/ruvector.git
[submodule "external/turbo-flow"]
	path = external/turbo-flow
	url = https://github.com/marcuspat/turbo-flow.git
[submodule "gitlab-environment-toolkit"]
	path = gitlab-environment-toolkit
	url = https://gitlab.com/gitlab-org/gitlab-environment-toolkit.git
[submodule "rust/ffi/forge"]
	path = rust/ffi/forge
	url = https://github.com/ikennaokpala/forge.git
