DirectoryIndex index.html index.php

RewriteEngine On

# Redirect /ios to App Store
RewriteRule ^ios$ https://apps.apple.com/app/id6446342881 [R=302,L]

# Redirect /android to Google Play
RewriteRule ^android$ https://play.google.com/store/apps/details?id=com.sovereign.nextwavenetwork [R=302,L]

# Redirect /download depending on User-Agent
RewriteCond %{HTTP_USER_AGENT} (iPhone|iPod|iPad) [NC]
RewriteRule ^download$ https://apps.apple.com/app/id6446342881 [R=302,L]

RewriteCond %{HTTP_USER_AGENT} Android [NC]
RewriteRule ^download$ https://play.google.com/store/apps/details?id=com.sovereign.nextwavenetwork [R=302,L]

RewriteRule ^download$ https://nextwavenetwork.com/ [R=302,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,QSA]

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>
