[defaults]
inventory = inventory/hosts.yml
timeout = 30
host_key_checking = False
callbacks_enabled = ansible.builtin.default
result_format = yaml
nocows = 1

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True

[privilege_escalation]
become = False
become_method = sudo
become_ask_pass = False
