module(load="imtcp")
module(load="gtls")

global(
  DefaultNetstreamDriver="gtls"
  DefaultNetstreamDriverCAFile="{{ rsyslog_tls_dir }}/ca.crt"
  DefaultNetstreamDriverCertFile="{{ rsyslog_tls_dir }}/server.crt"
  DefaultNetstreamDriverKeyFile="{{ rsyslog_tls_dir }}/server.key"
)

input(
  type="imtcp"
  port="{{ syslog_tls_port }}"
  StreamDriver="gtls"
  StreamDriverMode="1"
  StreamDriverAuthMode="x509/certvalid"
)

$template RemoteFormat,"<%pri%>%timestamp:::date-rfc3339% %HOSTNAME% %syslogtag%%msg%\n"

authpriv.* action(type="omfile" file="{{ syslog_log_dir }}/auth.log" template="RemoteFormat")
& stop

*.warning;*.err action(type="omfile" file="{{ syslog_log_dir }}/warnerr.log" template="RemoteFormat")
& stop

*.* action(type="omfile" file="{{ syslog_log_dir }}/syslog.log" template="RemoteFormat")
& stop
